// Import Vuetify styling
@require '~vuetify/src/stylus/app.styl'
.application {
  font-family: 'Noto Sans JP', '游ゴシック体', 'Yu Gothic', 'Hiragino Kaku Gothic Pro', 'Meiryo', sans-serif;
  font-display: swap;
  font-feature-settings: 'palt';
}

.application .main_screen .deceased_message {
  font-family: 'Sawarabi Mincho', sans-serif;
  font-display: swap;
}

p{
  margin-bottom: 0;
}
