$color-white: #ffffff;
$color-light-gray: #efefef;
$color-gray: #dcdcdc;
$color-dark-gray: #707070;
$color-navy-blue: #024e8a;
$color-dull-blue: #7fa5c4;
$color-black: #000000;
$color-blue: #1177ec;
$color-light-blue: #71c1f8;
$color-red: #ce021e;
$color-light-red: #e67f8d;
$color-transparent: transparent;
$color-badge: #ff0000;

$color-text: $color-black;
$color-light-text: $color-white;
$color-main-background: $color-white;
$color-textarea: #f1f1f1;
$color-text-gray: #959ea7;
$color-text-blue: $color-navy-blue;
